@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@400;700&display=swap');

/* Markazi Text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif !important;
}

/* Display Title */
h1 {
  font-size: 64pt;
  font-weight: 500;
}

/* Sub title */
h2 {
  font-size: 40pt;
  font-weight: 400;
}

/* Karla */
p, li, a {
  font-family: 'Karla', sans-serif !important;
}


/* Section title */
h3 {
  font-size: 20pt;
  font-weight: 800;
  text-transform: uppercase;
}

/* Categories */
h4 {
  font-size: 16pt;
  font-weight: 800;
}

/* Card title */
h5 {
  font-size: 18pt;
  font-weight: 700;
}

/* Paragraph text */
p {
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.5;
}

/* Highlight text */
span.highlight {
  font-size: 16pt;
  font-weight: 500;
}